.button {
    background: $green;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--search {
    background: white;
    border: 1px solid #dedfe0;
    border-left: none;
}

.button--link {
    background: white;
}

.button--secondary {
    background: #888888;
}