.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown__menu {
    display: none;
    background: $off-white;
    position: absolute;
    top: 100%;
}

.dropdown__menu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}