.content-container {
    max-width: 1250px;
    margin: 0 auto;
}

.content-container--header {
    margin: 0 $xs-size;
}

.content-container--main{
    padding: 0 $xl-size;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .content-container--header {
        margin: 0 auto;
    }
}