.course-info {
   display: flex;
   flex-direction: column;
   padding: $s-size $m-size;
}

.col {
    margin: $m-size;
    word-wrap: break-word;
}

.col--right {
    box-shadow: $full-shadow;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
}

.header-title {
    color: $dark-green;
}

.title-header-block > h1 {
    font-size: $font-size-x-large;
    color: $dark-green;
}

.summary-details {
    padding: $s-size;
}

.summary-details__item {
    margin: $s-size 0;
    display: flex;
}

.summary-details__item__data {
    padding: 0 $s-size;
}

.summary-details__link-to-course > .button {
    width: 100%
}

.course-image {
    max-width: 100%;
}

.description-block {
    margin-top: $xl-size;
}

.syllabus {
    padding-left: $xs-size;
}

.syllabus > h1, .syllabus > h2, .syllabus > h3, .syllabus > h4 {
    color: $dark-green;
    font-weight: 0;
    font-size: 1.9rem;
    margin: $s-size 0;
}

.syllabus ul, .course-description ul {
    list-style-type: "- ";
    margin: $s-size 0;
    padding: 0 $s-size;
}


//Desktop
@media (min-width: $desktop-breakpoint) {
    .title-header-block > h1 {
        font-size: 3rem;
    }

    .course-info {
        flex-direction: row;
        padding: $s-size $xl-size;
    }
    .content-bottom {
        display: flex;
        flex-direction: row;
    }

    .col--right {
        min-width: 360px;
        max-width: 400px;
    }
}

//Medium point between desktop and mobile
@media (max-width:$tablet-breakpoint) and (min-width: $desktop-breakpoint) {
    .col--right {
        min-width: 250px;
    }
}