.course-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.course-card-wrapper {
    margin-top: $l-size;

    //Option A
    // border-radius: 1rem;
    // box-shadow: $full-shadow;
    
    // Option B
    border-bottom: lighten($gray, 40%) 1px solid;
}

.course-card-wrapper > a {
    padding: $s-size;
    display: flex;
    flex-direction: row;
    transition: background .3s ease;
    &:hover {
        background-color: darken($off-white, 2%);
    }
}

.course-card__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $s-size 0 0 $s-size;
    min-width: 100px;
    max-width: 100px;
    height: 56px;
    // border: solid 1px;
    overflow: hidden;
}

.course-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 $m-size;
    max-width: 90rem;

    p {
        font-size: $font-size-small;
    }

    h4 {
        font-size: $font-size-small;
        margin: 0 0 $s-size 0;
    }
}

.course-card__content__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}

.course-card__content__footer__data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
        font-weight: bold;
        font-size: $font-size-medium;
        margin: $xs-size;
    }
}

.partner-logo-container > img {
    border-radius: .25rem;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    margin: $xs-size;
    height: 2.4rem;
    width: auto;
}


//Desktop
@media (min-width: $desktop-breakpoint) {
    .course-list {
        padding: $l-size;
    }

    .course-card__content > h4 {
        font-size: $font-size-medium;
    }

    .course-card__img-container {
        min-width: 210px;
        max-width: 210px;
        height: 120px;
    }

    .partner-logo-container > img {
        height: 3.6rem;
        width: auto;
    }
    

    .course-card__content__footer__data {
        flex-direction: row;
        > div {
            margin: $s-size 0;
            margin-right: $m-size;
        }
    }
    
}