.header {
    background: linear-gradient(to right, #1a9767, #29a8c4);
    box-shadow: $bottom-shadow;
    position: relative;
}

.header__content {
    align-items: center;
    display: flex;
    padding: $s-size 0;
    justify-content: space-between;
}

.header__title {
    color: white;
    text-decoration: none;
    font-style: italic;
    h1 {
        font-size: 3rem;
        margin: 0;
    }
}

.header-element {
    display: flex;
    flex:1;
    justify-content: center;
    padding: $xs-size;
    max-height: 10rem;
}

.header-element--categories {
    color: white;
    justify-content: flex-start;

    p {
        font-size: $font-size-medium;
    }
}

.header-element--search {
    justify-content: flex-end;
}

.pointer {
    cursor: pointer; 
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .header__content {
        padding: $s-size 4%;
    }

    .header-element {
        padding: $m-size;
    }

    .header__title > h1 {
        font-size: 4rem;
    }
}

//Medium point between desktop and mobile
@media (max-width:$tablet-breakpoint) and (min-width: $desktop-breakpoint) {
    .header-element {
        padding: $s-size;
    }

    .header__title > h1 {
        font-size: 3rem;
    }
}