.header {
    background: #fff;
    box-shadow: $bottom-shadow;
    position: relative;
}

.header__content {
    align-items: center;
    display: flex;
    padding: $s-size 0;
    justify-content: space-between;
}

.header__title {
    color: $dark-gray;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header-element {
    display: flex;
    padding: $xs-size;
    max-height: 10rem;
    cursor: pointer;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .header__content {
        padding: $s-size 4%;
    }

    .header-element {
        padding: $m-size;
    }
}