.header {
    background: linear-gradient(to right, #1a9767, #29a8c4);
    box-shadow: $bottom-shadow;
    position: relative;
}

.header__content {
    align-items: center;
    display: flex;
    padding: $s-size 0;
    justify-content: space-between;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        font-size: 3rem;
        margin: 0;
    }
}

.header-element {
    display: flex;
    justify-content: center;
    padding: $xs-size;
    max-height: 10rem;
    cursor: pointer;
}

.header-element--categories {
    color: white;

    p {
        font-size: $font-size-medium;
    }
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .header__content {
        padding: $s-size 4%;
    }

    .header-element {
        padding: $m-size;
    }

    .header__title > h1 {
        font-size: 4rem;
    }
}