.header {
    background: #fff;
    box-shadow: $bottom-shadow;
}

.header__content {
    align-items: center;
    display: flex;
    padding: $s-size 0;
}

.header__title {
    color: $dark-gray;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

.header-element {
    display: flex;
    padding: $m-size;
    max-height: 10rem;
    cursor: pointer;
}