.icon-container {
    display: flex;
    align-items: center;
}

.icon-container__text {
    font-size: $font-size-medium;
}

.icon-small {
    margin: $xs-size;
    height: 2.4rem;
    width: auto;
}

.icon-medium {
    margin: $xs-size;
    height: 3.6rem;
    width: auto;
}

.icon-large {
    margin: $xs-size;
    height: 4.8rem;
    width: auto;
}

.icon-xlarge {
    margin: $xs-size;
    height: 5.5rem;
    width: auto;
}