.text-input {
    background-color: white;
    border: 1px solid #dedfe0;
    font-size: $font-size-medium;
    font-weight: 300;
    padding: $s-size;
    flex-grow: 1;
}

.text-input--search {
    border-right: none;
    min-width: 220px;
}

.select {
    @extend .text-input;
    background: white;
    border: 1px solid #dedfe0;
}

.textarea {
    @extend .text-input;
    height: 10rem;
    resize: none;
}

