.text-input {
    border: 1px solid #dedfe0;
    font-size: $font-size-medium;
    font-weight: 300;
    height: 50px;
    padding: $s-size;
    flex-grow: 1;
}

.select {
    @extend .text-input;
    background: white;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .text-input {
        min-width:  22rem;
    }
}