.data-cards {
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-card {
    margin: $xs-size;
    padding: $xs-size;
    display: flex;
    flex:1;
    flex-direction: column;
    text-align:center;
    align-items: center;
    color: lighten($green, 2%);
}

.data-card__title {
    color: darken($green, 5%);
}


@media (min-width: $desktop-breakpoint) {
    .data-cards {
        flex-direction: row;
    }

    .data-card {
        margin: $m-size;
        padding: $m-size;
        max-width: 400px;
    }
}