.main-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.search-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90rem;
    padding: $xs-size;
}

.search-main__logo-container {
    padding: $l-size;
}

.search-main__logo-container > img {
    height: 5rem;
    width: auto;
}

.search-main__input {
    height: 9rem;
    width: 100%;
    display: flex;
    max-width: 75rem;
    padding: $s-size;
}

.search-main__input .icon {
    margin: $xs-size;
    height: 3.6rem;
    width: auto;
}

.search-main__input .button {
    background: white;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .main-page {
        display: block;
        padding: 10vh 0 0 0;
    }

    .search-main {
        min-width: 60rem;
        padding: $xl-size;
    }

    .search-main__logo-container > img {
        height: 8rem;
        width: auto;
    }
}