.pagination-wrapper {
    display: flex;
    padding: $xs-size;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    > li {
        display: flex;
    }
}

.page-link {
    margin: 1px;
    padding: $s-size;
    color: black;
    border: 1px solid #dedfe0
}

.page-link--active, 
.page-link:hover {
    color: white;
    background: $green;
}

.page-link--disabled:hover {
    color: black;
    background: white;
    cursor: auto;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .pagination-wrapper {
        padding: $m-size;
    }
}