.provider-page__title {
    padding: $m-size;
    > h1 {
        font-size: $font-size-x-large;
    }
}

.provider-page__course-list {
    margin-bottom: $m-size;
}

//Desktop
@media (min-width: $desktop-breakpoint) {
    .provider-page__title > h1 {
        font-size: 3rem;
    }
    
}