* {
    box-sizing: border-box;
}

html {
    // 1 rem is 16px. By doing this we convert 1rem to 10px.
    font-size: 62.5%;
}

body {
    color: $dark-gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    background-color: $off-white;
}

.body-content {
    min-height:90vh;
}

.app__container {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

p {
    margin: 0 $xs-size;
}

button:disabled {
    cursor: default
}

a {
    text-decoration: none;
    color: inherit;
}

.image {
    max-width: 100%;
    height: auto;
    flex: 1;
}