* {
    box-sizing: border-box;
}

html {
    // 1 rem is 16px. By doing this we convert 1rem to 10px.
    font-size: 62.5%;
    height: 100%;
}

body {
    color: $dark-gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    height: 100%;
}

#app {
    height: 100%;
}

.app__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    cursor: pointer;
}

p {
    margin: $s-size 0;
}

button:disabled {
    cursor: default
}

