//Colors
$dark-gray: #333333;
$gray: #666;
$blue: #428bca;
$dark-blue: #364051;
$off-white: #f7f7f7;
$green: #1a9767;
$turquoise: #29a8c4;

//Shadows
$bottom-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);
$full-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);

//Font sizes
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-x-large: 2.4rem;

//Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$tablet-breakpoint: 60rem;
$header-margin: 6rem;

//Icon sizes
$icon-small: 2.4rem;
$icon-medium: 3.6rem;
$icon-large: 4.8rem;