//Colors
$dark-gray: #333333;
$gray: #666;
$blue: #428bca;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Shadows
$bottom-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);

//Font sizes
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-x-large: 2.4rem;

//Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;